# Byte-compiled / optimized / DLL files
*__pycache__/
*.pytest_cache/
*.py[cod]
*$py.class

# Folders
**/build/
.venv/
tmp/
*.egg-info/

# Files
/models/ml_depth_pro/
/models/**/raw*/
/models/**/overfitted*/
/models/**/checkpoint*/

/data/eval_debug/

*.mp4
*.gz
*.tar
*.sif
*.err
*.out
*.log
*.pcd